{% extends "template.back.twig" %}

{% block title %}{{ parent() }} | Mes taches {% endblock %}
{% block aside %}
{% endblock %}
{% block nav %}TaskFlow - connecté en tant que ...{% endblock %}
{% block content %}
<h1>Liste des taches/h1>
<div>
   <ul>
     <li>1er tache</li>
     <li>2e taches</li>
   </ul>
</div>
{% endblock %}